# PMGridTools Development Requirements
# Install with: pip install -r requirements-dev.txt

# Testing
pytest>=6.0
pytest-cov

# Code formatting and linting
black
isort
flake8
mypy
types-tqdm
types-requests

# Documentation
sphinx
sphinx-rtd-theme

# Package building
build
twine
